html,
body {
  height: 100%;
}
a button {
  pointer-events: none;
}
button {
  cursor: pointer;
}
/* default font */
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");
/* container styles */
.container {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}
.page-preview {
  min-height: 100vh;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;

  margin-right: auto;
  margin-left: auto;
}

/* ui/text/scss to css */
:not(.content-editor) .headerOne,
:not(.content-editor) .headerTwo,
:not(.content-editor) .headerThree,
:not(.content-editor) .headerFour,
:not(.content-editor) .headerFive,
:not(.content-editor) .headerSix,
:not(.content-editor) .paragraph {
  line-height: inherit;
  margin: 0.1rem 0;
}

/* :not(.content-editor) div[name="Span"] :not(:first-child), 
:not(.content-editor) div[name="Paragraph"] :not(:first-child), 
:not(.content-editor) div[name="Link"] :not(:first-child) {
  margin-top: 16px;
} */
:not(.content-editor) .cd-paragraph-clean :not(:first-child) {
  margin-top: 16px;
}

:not(.content-editor) .headerOne a,
:not(.content-editor) .headerTwo a,
:not(.content-editor) .headerThree a,
:not(.content-editor) .headerFour a,
:not(.content-editor) .headerFive a,
:not(.content-editor) .headerSix a,
:not(.content-editor) .paragraph a,
:not(.content-editor) .headerOne a:active,
:not(.content-editor) .headerTwo a:active,
:not(.content-editor) .headerThree a:active,
:not(.content-editor) .headerFour a:active,
:not(.content-editor) .headerFive a:active,
:not(.content-editor) .headerSix a:active,
:not(.content-editor) .paragraph a:active {
  color: inherit;
  text-decoration: none;
}
:not(.content-editor) .headerOne a:hover,
:not(.content-editor) .headerTwo a:hover,
:not(.content-editor) .headerThree a:hover,
:not(.content-editor) .headerFour a:hover,
:not(.content-editor) .headerFive a:hover,
:not(.content-editor) .headerSix a:hover,
:not(.content-editor) .paragraph a:hover,
:not(.content-editor) .headerOne a:active:hover,
:not(.content-editor) .headerTwo a:active:hover,
:not(.content-editor) .headerThree a:active:hover,
:not(.content-editor) .headerFour a:active:hover,
:not(.content-editor) .headerFive a:active:hover,
:not(.content-editor) .headerSix a:active:hover,
:not(.content-editor) .paragraph a:active:hover {
  color: inherit;
  text-decoration: underline;
}
.headerOne,
.headerTwo,
.headerThree,
.headerFour,
.headerFive,
.headerSix,
.paragraph {
  font-size: inherit;
  font-weight: inherit;
}
.headerOne,
.headerTwo,
.headerThree,
.headerFour,
.headerFive,
.headerSix,
.paragraph {
  line-height: inherit;
}
.headerOne a,
.headerTwo a,
.headerThree a,
.headerFour a,
.headerFive a,
.headerSix a,
.paragraph a,
.headerOne a:active,
.headerTwo a:active,
.headerThree a:active,
.headerFour a:active,
.headerFive a:active,
.headerSix a:active,
.paragraph a:active {
  color: inherit;
  text-decoration: none;
}
.headerOne a:hover,
.headerTwo a:hover,
.headerThree a:hover,
.headerFour a:hover,
.headerFive a:hover,
.headerSix a:hover,
.paragraph a:hover,
.headerOne a:active:hover,
.headerTwo a:active:hover,
.headerThree a:active:hover,
.headerFour a:active:hover,
.headerFive a:active:hover,
.headerSix a:active:hover,
.paragraph a:active:hover {
  color: inherit;
  text-decoration: underline;
}

/* react grid layout scss */
/* File generated by shrinker.ch - DateTime: 2020-06-12, 22:54:06 */
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}
.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}
.react-grid-item.react-grid-placeholder {
  background: #bebebe;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 0;
}
.react-grid-item.rtl > .react-resizable-handle {
  left: 0;
  cursor: sw-resize;
}
.react-grid-item.ltr > .react-resizable-handle {
  right: 0;
  cursor: se-resize;
}
.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}
.react-grid-item.ltr > .react-resizable-handle::after {
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  right: 3px;
}
.react-grid-item.rtl > .react-resizable-handle::after {
  border-left: 2px solid rgba(0, 0, 0, 0.4);
  left: 3px;
}
.rgl-container {
  position: relative;
  height: inherit;
  width: 100%;
  padding: 0;
}
.rgl-bg {
  position: absolute;
}
.rgl-bg-canvas {
  background-color: #e7eaf0;
  margin-left: -2px;
  position: relative;
  /* border-bottom: 1px dashed #00a8d5;
    */
  width: calc(100% + 3px);
  height: 40px;
  display: flex;
  align-items: center;
  color: #00a8d5;
  font-weight: 400;
  font-size: 0.9rem;
  padding-left: 10px;
  font-weight: 500;
}
/* @media (max-width: 800px) {
    .rgl-bg-canvas {
        height: 25px;
   }
}
*/
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 3px 3px 0;
}
.react-resizable-handle-sw {
  bottom: 0;
  left: 0;
  cursor: sw-resize;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
}
.react-resizable-handle-nw {
  top: 0;
  left: 0;
  cursor: nw-resize;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.react-resizable-handle-ne {
  top: 0;
  right: 0;
  cursor: ne-resize;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.react-resizable-handle-w,
.react-resizable-handle-e {
  top: 50%;
  margin-top: -10px;
  cursor: ew-resize;
}
.react-resizable-handle-w {
  left: 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
}
.react-resizable-handle-e {
  right: 0;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
.react-resizable-handle-n,
.react-resizable-handle-s {
  left: 50%;
  margin-left: -10px;
  cursor: ns-resize;
}
.react-resizable-handle-n {
  top: 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}
.react-resizable-handle-s {
  bottom: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* extras */
.column-align-center {
  display: flex;
  justify-content: center;
}
.column-align-right {
  display: flex;
  justify-content: flex-end;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans";
}

.preview-loader-outer {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-loader {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.preview-loader .dot {
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: #0a0a0a;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
@keyframes loader_left {
  0% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader_middle {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader_right {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.preview-loader .dot:nth-of-type(1) {
  animation-name: loader_left;
}
.preview-loader .dot:nth-of-type(2) {
  animation-name: loader_middle;
}
.preview-loader .dot:nth-of-type(3) {
  animation-name: loader_right;
}

.isFlex {
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  flex-direction: inherit;
}

/* preview page loader */
.preview-loader-outer {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preview-loader {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0.2;
}
.preview-loader .dot {
  width: 0.625em;
  height: 0.625em;
  border-radius: 50%;
  background: #0a0a0a;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
@keyframes loader_left {
  0% {
    opacity: 0.8;
  }
  20% {
    opacity: 0.3;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader_middle {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.8;
  }
  40% {
    opacity: 0.3;
  }
  60% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader_right {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
.preview-loader .dot:nth-of-type(1) {
  animation-name: loader_left;
}
.preview-loader .dot:nth-of-type(2) {
  animation-name: loader_middle;
}
.preview-loader .dot:nth-of-type(3) {
  animation-name: loader_right;
}

.error-state {
  color: red !important;
  font-size: 14px !important;
}
.success-state {
  color: green !important;
  font-size: 14px !important;
}
/* footer credit */
.footer-credit {
  position: fixed;
  z-index: 2147483647;
  top: auto;
  right: 12px;
  bottom: 12px;
  left: auto;
  color: #4f4f4f;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 6px 8px 6px 6px;
  font-size: 12px;
  line-height: 14px;
  text-decoration: none;
  transform: none;
  margin: 0;
  width: auto;
  height: auto;
  overflow: visible;
  white-space: nowrap;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
